* {
    margin: 0;
    padding: 0;
}


.beach {
    background-image: url('/imgs/SyA058.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 670px;

}